<div class="button-container">
    <button (click)="realizarOperacion('suma')" class="col m1">+</button>
    <p></p>
    <button (click)="realizarOperacion('resta')" class="col m1">-</button>
    <p></p>
    <button (click)="realizarOperacion('multiplicacion')" class="col m1">X</button>
    <p></p>
    <button (click)="realizarOperacion('division')" class="col m2">%</button>
    <p></p>
    <button (click)="realizarOperacion('potencia')" class="col m2">^</button>
    <p></p>
    <button (click)="realizarOperacion('raiz')" class="col m2">CE</button>
  </div>
  
  
